*{ /*universal selector : whole website gets the same font*/
  font-family: monospace;
}

.center {
    margin: auto;
    text-align: center;
    margin-top: 200px;
    
  }

.button{
  font-size: 30px; 
  height : 100px; 
  width: 400px; /*to have buttons of equal width, regardless of text*/
  margin : 10px;
  border-radius : 12px;
  vertical-align: top; /*makes sure that the font does not change the position of the button elements*/
}

.button:hover{
  background-color: rgb(0, 173, 253);
  color: white; /*text color on hover*/
}

.citypoptext {
  font-size : 50px;
  margin-bottom: 50px;
}

.searchbutton {
  margin-top : 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px;
  padding: 0.5em 0.6em;
}

.searchbox{
  width : 400px;
  height : 50px;
  font-size:18pt;
  text-align: center;

}

/*the searchbox placeholder text should be blank when the user clicks on it*/
input:focus::placeholder {
  color: transparent;
}

.resultcontainer{
  position: absolute;
  top: 50%;
  margin-top: 30px;
  /* half of resultbox height*/
  left: 0;
  width: 100%;
}

.resultbox {
  width: 500px;
  font-size : 18pt;
  margin-left: auto;
  margin-right: auto;
  margin-bottom :  10px;
  height: 60px;
  /*to vertically center text, has to be equal to the height*/
  line-height: 60px;
  border: 1px solid #000000;
}



.chosencitybox{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom :  10px;
  height: 150px;
  /*to vertically center text, has to be equal to the height*/
  line-height: 60px;
  border: 1px solid #000000;
}



.loadingspinner{
  margin: 0 auto;
  /*0% to center the loading button, probably a better way to do this*/
  width: 0%;
  margin-top : 100px;
}

.newline{
  display:block;
  
}
  
